@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Architects Daughter", cursive;
}
body {
  background-color: black;
  font-family: "Architects Daughter", cursive;
  color: white;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: black;
}
header {
  height: 35vh;
  border-bottom: 3px solid white;
}
main {
  height: 65vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
input[type="number"] {
  height: 30%;
  padding: 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  font-size: 30px;
  width: 50%;
  border-radius: 1rem;
}
button {
  font-size: 2rem;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 1rem;
}
.right {
  width: 40%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2rem;
}
.message {
  margin-bottom: 5rem;
}
.again {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}
.between {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.number {
  width: 7rem;
  align-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 1.5rem;
  background-color: white;
  color: black;
  font-size: 3rem;
  bottom: -2.8rem;
  padding-inline: auto;
}
